@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-dark: #4338CA;
  --color-dark: #111827;
  --color-darker: #030712;
  --color-card: #1F2937;
  --color-border: #374151;
}

@layer base {
  body {
    @apply bg-darker text-gray-100;
  }
}
